@model Solution.Presentation.Models.OfferVM

<div>
    <h4>OfferVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Offer_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offer_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offer_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offre_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offre_Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offre_Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offre_Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer_DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offer_DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OfferId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
