@model Solution.Presentation.Models.CompanyVM
@{string path = "~/Content/Uploads/" + @Model.Company_Logo;}






<div class="col-md-4">

    <!-- Company Information -->
    <div class="">
        <h5 class="main-title"></h5>
        <div class="sidebar-thumbnail"> <img alt="Company Logo" src="@Url.Content(path)" width="150" height="150"/>  </div>
        <div class="sidebar-information">
            <ul class="single-category">
                <li class="row">
                    <h6 class="title col-xs-6">Company Name:</h6>
                    <span class="subtitle col-xs-6">@Model.Company_Name</span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Company Number:</h6>
                    <span class="subtitle col-xs-6">@Model.Company_Number</span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Company E-mail</h6>
                    <span class="subtitle col-xs-6">@Model.Company_Email</span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Company Description</h6>
                    <span class="subtitle col-xs-6">@Model.Company_Description</span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Company Address</h6>
                    <span class="subtitle col-xs-6">@Model.Company_Address</span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6"> Company Website</h6>
                    <span class="subtitle col-xs-6">@Model.Company_Website</span>
                </li>

                <a href="#" class="btn mb20 btn-large btn-transparent-primary"> @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }) </a>
                <a href="#" class="btn mb20 btn-large btn-transparent-primary"> @Html.ActionLink("Details", "Details", new { id = Model.CompanyId }) </a>
                <a href="#" class="btn mb20 btn-large btn-transparent-primary">  @Html.ActionLink("Delete", "Delete", new { id = Model.CompanyId }) </a>

            </ul>
        </div>
    </div>
</div>




    <!-- Company Rating -->
    @*<div class="sidebar">
        <h5 class="main-title">Company Rating</h5>
        <div class="sidebar-information">
            <ul class="single-category com-rate">
                <li class="row">
                    <h6 class="title col-xs-6">Expertise:</h6>
                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Knowledge:</h6>
                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Quality::</h6>
                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Price:</h6>
                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
                </li>
                <li class="row">
                    <h6 class="title col-xs-6">Services:</h6>
                    <span class="col-xs-6"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
                </li>
            </ul>
        </div>
    </div>*@

    <!-- Company Rating -->
    @*<div class="sidebar">
        <h5 class="main-title">Contact</h5>
        <div class="sidebar-information form-side">
            <form action="#">
                <input type="text" placeholder="Name &amp; Surname">
                <input type="text" placeholder="E-mail address">
                <textarea placeholder="Your Message"></textarea>
                <button class="btn btn-primary">Send message</button>
            </form>
        </div>
    </div>*@














@*<div style="float:left; margin:5px;">*@
@*<div class="row">*@






@*<p>@Model.Company_Name</p>
    <p>@Model.Company_Number</p>
    <p>@Model.Company_Email</p>
    <p>@Model.Company_Description</p>
    <p>@Model.Company_Address</p>
    <img alt="Company Logo" src="@Url.Content(path)" width="50" height="50" />
    <p>@Model.Company_Website</p>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId })
    </p>
    <p>
        @Html.ActionLink("Details", "Details", new { id = Model.CompanyId })
    </p>
    <p>
        @Html.ActionLink("Delete", "Delete", new { id = Model.CompanyId })
    </p>*@

@*</div>*@
