@model Solution.Presentation.Models.CompanyVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfEmployees)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
